<%- include("./partials/header") %>
<head>
    <link type="text/css" rel="stylesheet" href="/public/css/index.css">
</head>

<h1> Hi, just testing how to add css</h1> 

<%- include("./partials/footer") %>